doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title About Us
  link(rel='stylesheet' type='text/css' href='stylesheets/style.css')
#nav-header
  #div-logo
    #logo-background
      img#collective-logo(src='images/logo2.png' alt='logo' width='425px' height='150px')
      ul#nav-content
        li
          a.active(href='about.html') About Us 
        li
          a.link(href='contact.html') Contact |
        li
          a.link(href='Services.html') Services |
        li
          a.link(href='index.html') Home |
#bio
  img#kushaal-image(src='images/kushaal-profile.jpg')
  #kushaal-bio
    h1#kushaal-name  KUSHAAL REDDY
    h3#job-title  Co-Founder 
    p
      | Kushaal found his passion for programing in his 10th grade computer science class. Before taking that class he didn&apos;t know anything about the programing world and all the different aspects it consisted of.
      br
      br
      |         He was especially intruiged with the design aspect of it all (HTML, CSS and JavaScript). After completing his Diploma at Bow Valley College, Kushaal worked for a local online travel start up called &quot;Ghumo&quot;. 
      br
      br
      |         He then realized his passion for making other peoples vision come alive with his artistic vision and decided he wanted to go into business himself.
  #seperator
  img#gordon-image(src='images/gordon-profile.jpg')
  #gordon-bio
    h1#gordon-name  GORDON TEXGHN 
    h3#job-title  Co-Founder 
    p
      | Gordon, just like his co-founder found his passion for programing in high-school. Programing had always been an interest of Gordons from an early age.
      br
      br
      |             Gordon completed his primary education in Jamaica and then moved to Calgary Alberta to pursue his passion for computer programing at Bow Valley College. Gordon and Kushaal&apos;s friendship began in 2020 in their second semester.
      br
      br
      |             They kept in contact after college and some time after Gordon pitched the idea of opening thier own software agency, and Colletive Code was born.
#our-goals
  h1#goals
    | &quot;Let us turn your vision into reality.&quot;
#slideshow
  #slides
    #slide
      img#img(src='images/slideshow1.jpg')
    #slide
      img#img(src='images/slideshow2.jpg')
    #slide
      img#img(src='images/slideshow3.jpg')
    #slide
      img#img(src='images/slideshow5.jpg')
#slogan2  &quot;WE TAKE PRIDE IN OUR WORK, WHICH MEANS WE TAKE PRIDE IN YOU&quot;. 
#seperator
h5#work-slogan  PAST PROJECTS.
.project1
  img.image6(src='images/slideshow6.png' alt='Avatar')
  .overlay-text
    .text
      | This project was done by both Kushaal &amp; Gordon in their early programing career while they were still in college. Ghumo.com was an passion project done by the duo for a class project that they ended up selling to a major travel company after their graduation.
.project1
  img.image6(src='images/slideshow7.jpg' alt='Avatar')
  .overlay-text
    .text
      | Prototype for our portfolio site. We put effort into everything we do at Collective Code.
.project1
  img.image6(src='images/slideshow8.jpg' alt='Avatar')
  .overlay-text
    .text
      | This was a special Project for both Kushaal and Gordon. Post graduation they were approached by their college (Bow Valley College) to design and build a registration site for the new sports program at BVC. They accepted without hesitation as their careers first started with Bow Valley.
footer#footer
  #copyright
    | &copy;Collective Code INC. | Kushaal Reddy | Gordon Texghn | 2020. 
    #social-media
      a(href='https://www.linkedin.com' target='_blank')
        img#linkedin-logo(src='images/linkedin-icon.png' height='25px' width='25px')
      a(href='https://www.youtube.com' target='_blank')
        img#linkedin-logo(src='images/youtube-icon.png' height='25px' width='25px')
      a(href='https://www.facebook.com' target='_blank')
        img#linkedin-logo(src='images/fb-icon.png' height='25px' width='25px')
  br
  br

script(src='javascripts/scripts.js')