doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home
  link(rel='stylesheet' type='text/css' href='stylesheets/style.css')
#nav-header
  #div-logo
    img#collective-logo(src='images/logo2.png' alt='logo' width='425px' height='150px')
    ul#nav-content
      li
        a(href='about.html') About Us 
      li
        a(href='contact.html') Contact |
      li
        a(href='Services.html') Services |
      li
        a.active(href='index.html') Home |
article.bigpic
  h2 A Coding Studio Based In Calgary!
  h4
    | Coding is the vital essence of what we do.
    br
    br
    br
    button(type='button') Learn More
.greeting
  h2 We intend to form a solid relationship with you our customers.
  h4
    | We bring simple the best!
    h4
.container
  div
    h3.title Our Story
    p.para
      | Collective Code Inc. All begin with two young      men lookiing to make their town a better place to do business by coding website. They met in JavaScript Class at Bow Valley College in Calgary and the rest was history...
  div
    h3.title Our Mission
    p.para
      | &quot;To enable people and businesses throughout the world to realize their full potential.&rdquo; &ldquo;To organize the world&apos;s information and make it universally accessible and useful.&rdquo; &ldquo;Utilize the power of Moore&apos;s Law to bring smart, connected devices to every person on earth.&rdquo;--Unknown
  div
    h3.title Our Values
    p.para
      | Our core values are;Integrity, Boldness, Honesty, Trust, Accountability, Commitment to Customers, Passion, Fun, Humility, Continuous Learning, Ownership, Constant Improvement,Leadership, Diversity, Innovation, Quality, Teamwork and Simplicity.
  div
    h3.title Our Results
    p.para
      | We let our work speak for it self. Ask any of our clients about us, we aim to please. as our slogan says we bring simple the best!.
      br
      |     Follow us on Facebook, Youtube and LinkedIn for more information on our products and services.
footer#footer
  #copyright
    | &copy;Collective Code INC. | Kushaal Reddy | Gordon Texghn | 2020. 
    #social-media
      a(href='https://www.linkedin.com' target='_blank')
        img#linkedin-logo(src='images/linkedin-icon.png' height='25px' width='25px')
      a(href='https://www.youtube.com' target='_blank')
        img#linkedin-logo(src='images/youtube-icon.png' height='25px' width='25px')
      a(href='https://www.facebook.com' target='_blank')
        img#linkedin-logo(src='images/fb-icon.png' height='25px' width='25px')
  br
  br
script(src='javascripts/scripts.js')
