doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Skills
  link(rel='stylesheet' type='text/css' href='stylesheets/style.css')
#nav-header
  #div-logo
    img#collective-logo(src='images/logo2.png' alt='logo' width='425px' height='150px')
    ul#nav-content
      li
        a(href='about.html') About Us 
      li
        a(href='contact.html') Contact |
      li
        a.active(href='Services.html') Services |
      li
        a(href='index.html') Home |
.our-services
  h1#services-slogan  WE CAN 
  .overlay2
.html-skill  HTML
#css-button.css-skill  CSS
.javascript-skill  JAVASCRIPT
.modal-html.modal--hidden-html
  .modal-text-html
    .close-button-html
      span X
    p
      | HTML is one of the fundamental languages of the industry and at Collective Code we know how important it is to have a strong understanding of fundamentals. Every programmer on our team is well equipped with HTML knowledge.
.modal-css.modal--hidden-css
  .modal-text-css
    .close-button-css
      span X
    p
      | Bringing your vision and introducing it to the world via the internet is our job. And we like to do it with a little touch of simplicity and beauty. Our programers have an extensive knowledge of CSS and that is what we use to make beautiful projects here at Collective Code.
.modal-js.modal--hidden-js
  .modal-text-js
    .close-button-js
      span X
    p
      | We believe in order to capture a users attention they must activley be engaging in an activity, or in our case activly interacting with the website. We use Javascript to give the users that visit our website a sense of engagment. Our develepors are heavily equipped with JS knowledge.
footer#footer
  #copyright
    | &copy;Collective Code INC. | Kushaal Reddy | Gordon Texghn | 2020. 
    #social-media
      a(href='https://www.linkedin.com' target='_blank')
        img#linkedin-logo(src='images/linkedin-icon.png' height='25px' width='25px')
      a(href='https://www.youtube.com' target='_blank')
        img#linkedin-logo(src='images/youtube-icon.png' height='25px' width='25px')
      a(href='https://www.facebook.com' target='_blank')
        img#linkedin-logo(src='images/fb-icon.png' height='25px' width='25px')
  br
  br
script(src='javascripts/scripts.js')
